/* Content width
   https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/?h=navigation#content-area-width */

.md-grid {
  max-width: 1440px; 
}

/* Code display */

pre.Agda {
  color: var(--md-text-fg-color);
  background-color: var(--md-text-bg-color);
  /* font-size: 1em; */
}

code.Agda {
  color: var(--md-code-fg-color);
  background-color: var(--md-code-bg-color);
  font-size: 1em;
}

/* Search */

/* Hide the previews, as recommended in a discussion answer
(https://github.com/squidfunk/mkdocs-material/discussions/5817#discussioncomment-6662100) */

.md-search-result__article > :not(h1, h2, div) {
   display: none;
}